body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    text-align: center;

}

header {
    margin-bottom: 30px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

main {
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 15px 0;
}

.menu a {
    text-decoration: none;
    color: #555;
    font-size: 19px;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: block;
    width: 100%;
}

.menu a:hover {
    background-color: #e8e8e8;
    color: #333;
    
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-weight: bold;
    text-align: left;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 8px 5px;
    border-radius: 5px;
    border-color: hsla(0, 0%, 0%, 0.8);
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    align-self: center;
}

button.cadastrarAluno {
    background-color: rgba(0, 255, 0, 0.5);

}

button.botaoExcluir {
    background-color: rgba(255, 0, 0, 0.5);
    margin-bottom: 10%;

}

a.voltar {
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
    text-align: center;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    align-self: center;
    
}

/* Table Styles */
.tabela-estilizada {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tabela-estilizada thead {
    background-color: #f4f4f4;
}

.tabela-estilizada th, .tabela-estilizada td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: center;
}

.tabela-estilizada th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center;
}

.tabela-estilizada tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabela-estilizada tbody tr:hover {
    background-color: #f1f1f1;
}